*{
    margin: 0px;
    padding: 0%;
    
    
}
h2{
    color:rgb(231, 22, 22);
    position: unset;
    margin-left:50%;
}
body{
    background:rgba(5, 5, 245,0.5);
    
}

.Second{
    position: absolute;
    padding: 30px;
    margin-top:15%;
    margin-left:30%;
    width: 40%;
    background: linear-gradient(30deg,rgba(238, 5, 5,0.8) 50%,rgba(255, 255, 0,1) 36%);
    border-radius: 80px ;
    cursor: pointer;
}
input[type='email'],[type='password']{
    width: 90%;
    height: 20%;
}

input{
    border-color: mediumspringgreen;
    border-radius: 8px;
    border-style: solid;
}

